{% extends 'base.html' %}
{% block searchbar %}
{% endblock %}
{% block content %}

<!-- Content here -->
<p>See what's happening <b>right now</b></p>

<!-- Search form -->
<div class ="navbar-form">
    <form class ="navbar-form" action="/new-search" method="POST" id="search-form">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search-text" id="search-text">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" id="search-button"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    </form>
</div>
<br>
<br>

<!-- Search results table -->
<div class="container-fluid">
    <div id="tweet_data" class="row">
    <table class="table table-striped">
        <tr>
            <th>Created At</th>
            <th>Screen Name</th>
            <th>Text</th>
            <th>Favorite Count</th>
        </tr>
            <tr class="tweet">
            </tr>
        </table>
    </div>
</div>

<script src="/static/js/submit-search.js"></script>


{% endblock %}